<%- include('../partials/header.ejs')%>

    <main>
    <ul class="offer">
        <% if (receivedOffers.length) { %>
        <table>
            <tr>
                <td>Title</td>
                <td>Category</td>
                <td>Status</td>
            </tr>
            <%trades.forEach(trade => {%>
            <tr>
                <td>                
                    <a href="/offers/<%=offer.id%>"><%=trade.title%></a></li>
                </td>
                <td><%=trade.owner%></td>
                <td>
                    <form>
                        <button type = "submit" formmethod = "GET" formaction = "/offers/<%= offer.id%>/reject">Reject</button>
                        <button type = "submit" formmethod = "GET" formaction = "/offers/<%= offer.id%>/accept">Accept</button>
                     </form>
                </td>
                
            </tr>
            <%})%>
        </table>
        <%} else {%>
            <p>You haven't received any offers yet!</p>
        <%}%>

    </ul>
    <ul class="offer">
        <% if (sentOffers.length) { %>
        <table>
            <tr>
                <td>Title</td>
                <td>Category</td>
                <td>Status</td>
            </tr>
            <%trades.forEach(trade => {%>
            <tr>
                <td>                
                    <a href="/offers/<%=offer.id%>"><%=trade.title%></a></li>
                </td>
                <td><%=trade.reciever%></td>
                <td>
                    <form>
                        <button type = "submit" formmethod = "GET" formaction = "/offers/<%= offer.id%>/Withdraw">Withdraw</button>
                        <!-- <button type = "submit" formmethod = "GET" formaction = "/offers/<%= offer.id%>/accept">Accept</button> -->
                     </form>
                </td>
                
            </tr>
            <%})%>
        </table>
        <%} else {%>
            <p>You haven't received any offers yet!</p>
        <%}%>

    </ul>
    </main>

    <%- include('../partials/footer.ejs')%>